body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.log_in {
  font-size: 25px;
  width: auto;
  height: auto;
  color: aquamarine;
  background-color: black;
}
.header {
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom: 1px solid rgb(180, 180, 180);
  display: flex;
}

.header a {
  font-size: 40px;
  font-weight: bold;
  color: aquamarine;
}
