@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

:root {
  --main-bg-color: white;
  --main-color: rgba(92, 150, 250, 1);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

/*    ---------------------------------page---------------------------------    */

/* Main */

.view_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.view_box > * {
  margin: 20px;
}

.sort {
  margin-top: 10px;
  margin-left: 90%;
}

.sort p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.sort select {
  outline: none;
  appearance: none;
  font-size: 16px;
}

/*  Login */

.login_backgound {
  width: 100vw;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/dudxoor68/CM_project/main/img/login_background.png");
  background-size: cover;
  background-position: center;
}

.login_box,
.signUp_box,
.find_box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 150px;
  width: 500px;
  height: 600px;
  backface-visibility: hidden;
  transition: transform 2s;
}

.state_login .login_box {
  transform: rotateY(0deg);
}

.state_login .signUp_box {
  transform: rotateY(180deg);
  translate: -100%;
}

.state_login .find_box {
  transform: rotateY(180deg);
  translate: -100%;
}

.state_signup .login_box {
  transform: rotateY(180deg);
}

.state_signup .signUp_box {
  transform: rotateY(0deg);
  translate: -100%;
}

.state_signup .find_box {
  transform: rotateY(180deg);
}

.state_find .login_box {
  transform: rotateY(180deg);
}

.state_find .signUp_box {
  transform: rotateY(180deg);
}

.state_find .find_box {
  transform: rotateY(0deg);
  translate: -100%;
}

.title {
  margin-left: 190px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.input_box {
  margin: 30px;
}

.input_box input {
  width: 400px;
  height: 30px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.login_box input[type="submit"] {
  width: 200px;
  height: 50px;
  margin-left: 140px;
  border: 1px solid;
  border-radius: 25px;
  background-color: var(--main-color);
  color: white;
  font-size: 24px;
  margin-top: 40px;
}

.login_box button,
.signUp_box button,
.find_box button {
  border: 1px solid;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  margin: 50px 20px 20px 90px;
  background-color: var(--main-color);
  color: white;
}

/* Create  */

.create_view {
  width: 100vw;
  height: calc(100vh - 61px);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.example {
  word-break: break-all;
  overflow: auto;
  grid-column: 1/3;
  grid-row: 1/11;
  padding: 20px 10px 10px;
}

.execution {
  grid-column: 3/11;
  grid-row: 1/6;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.select_input_view {
  grid-column: 3/4;
  grid-row: 6/11;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.select_input_view .select_input {
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
}

.input_view {
  grid-column: 4/11;
  grid-row: 6/11;
  position: relative;
}

.input_view .input_wrapper_html,
.input_view .input_wrapper_css {
  position: absolute;
  width: 100%;
  height: 98%;
}

.selected_html .input_wrapper_css {
  display: none;
}

.selected_css .input_wrapper_html {
  display: none;
}

.input_view .input_wrapper_html .input_html,
.input_view .input_wrapper_css .input_css {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
}

.copyButton {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 1;
  right: 70px;
  top: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.copyButton:hover , .saveButton:hover{
  background-color: rgba(92, 150, 250, 0.9);
}

.copyButton:active , .saveButton:active{
  background-color: rgba(92, 150, 250, 0.85);
}

.copyButton svg {
  margin-top: 5px;
}

.saveButton {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 1;
  right: 70px;
  top: 100px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.create_modal_open{
  display: block;
  position: absolute;
  margin: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  z-index: 2;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.create_modal_open form{
  white-space:pre-wrap;
  margin: 80px;
}

.create_modal_open form input{
  border: 1px solid black;
}

.create_modal_open .modal_save{
  border-radius: 40%;
  background-color: var(--main-color);
  color: white;
  margin:10px;
  padding: 5px;
}

.create_modal_open .modal_cancle{
  border-radius: 40%;
  background-color: red;
  color: white;
  margin:10px;
  padding: 5px;
}

.create_modal_close {
  display: none;
}

.productHtml, .productCss{
  width:500px;
  height: 160px;
  border: 1px solid rgba(0,0,0,0.2);
  resize: none;
}


/*    ---------------------------------component---------------------------------    */

/* Header */

header {
  width: 100%;
  height: 60px;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  width: 124.5px;
  height: 55px;
  margin-left: 80px;
}

.login_button,
.create_button {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}

.login_button {
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.login_link {
  margin-left: 40%;
}

.login_button:hover {
  background-color: rgba(92, 150, 250, 0.9);
}
.login_button:active {
  background-color: rgba(92, 150, 250, 0.85);
}

.create_button {
  border: 1px solid;
  margin-left: 10px;
  border-color: var(--main-color);
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}

.create_button:hover {
  background-color: rgba(92, 150, 250, 0.1);
}
.create_button:active {
  background-color: rgba(92, 150, 250, 0.15);
}

/* MainView */

.viewBlock {
  width: 350px;
  height: 250px;
  border: 1px solid;
}

.viewTitle {
  color: black;
  font-size: 18px;
}

.viewWriter {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

/* MainSearch */

.search_bar svg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  opacity: 0.5;
}

.search_bar {
  width: 93%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-left: 50px;
}

.search_bar input {
  margin-left: 10px;
  width: 60%;
  height: 50px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.8);
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.search_box {
  padding: 20px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 60.5px;
  background-color: var(--main-bg-color);
}

/* TopButton */

.TopButton {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 20px;
}

.TopButton.hidden {
  display: none;
}

.TopButton.visible {
  display: block;
}

.TopButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.TopButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Create all  */

.hidden {
  min-height: 0;
  height: 0;
  display: none;
}

.show {
  height: auto;
  transition-duration: 1s;
}

/* CreateTitle  */

.create_title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.create_title img {
  width: 10px;
  height: 10px;
  margin-left: auto;
}

.create_title .down_arrow {
  transition-duration: 0.3s;
}

.create_title .up_arrow {
  transition-duration: 0.3s;
  transform: rotate(180deg);
}

.state_using {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: springgreen;
}

/* CreateUsing  */

.custom_box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show_p {
  font-size: 14px;
  color: var(--main-color);
}

.custom_box input[type="checkbox"] {
  width: 50px;
  height: 25px;
  border-radius: 50px;
  appearance: none;
  position: relative;
  margin-left: auto;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.checkBall {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  position: relative;
  right: 25px;
  transition-duration: 0.5s;
}

.checkBall:hover {
  box-shadow: 0 0 4px 1px var(--main-color), 2px 0 4px 1px var(--main-color),
    -2px 0 4px 1px var(--main-color), 0 2px 4px 1px var(--main-color),
    0 -2px 4px 1px var(--main-color);
}

.custom_box input[type="checkbox"]:checked {
  background-color: var(--main-color);
  transition-duration: 0.5s;
}

.custom_box input[type="checkbox"]:checked ~ .checkBall {
  translate: 25px;
  transition-duration: 0.5s;
}

/* CreateRgba */

.create_rgba {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.check_property div {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 10px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
}

.create_color.select{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.create_color input{
  width: 50px;
  height: 25px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  text-align: center;
}

.create_color.r,.create_color.g,.create_color.b,.create_color.a{
  display: flex;
  flex-direction: column;
}

.create_color.c{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create_color input:hover, .create_color input:focus{
  box-shadow: 0 0 4px 1px var(--main-color), 2px 0 4px 1px var(--main-color),
  -2px 0 4px 1px var(--main-color), 0 2px 4px 1px var(--main-color),
  0 -2px 4px 1px var(--main-color);
}


/* CreateBorder */

.create_border {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.select_border_style{
  width: 90%;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 10px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.select_border_style .selected_border_style{
  display:flex;
  justify-content: space-between;
  padding: 8px 5px;
}

.select_border_style .selected_border_style .selected_border_style_value{
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select_border_style ul{
  width: 200px;
  border: 1px solid #999;
  position: relative;
  background-color: #fff;
  border-top:none;
  margin: 1px 0 0 -1px;
  cursor: pointer;
  display: none;
}

.select_border_style.selected ul{
  display: initial;
}

.select_border_style ul li{
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select_border_style ul li:hover{
  background-color: rgba(92,150,250,0.5);
}